In [11]:
import os
import csv
import pandas as pd

In [12]:
TSX_csv = "Files/TSX.csv"
FTSE100_csv = "Files/FTSE100.csv"
NASDAQ_csv = "Files/NASDAQ.csv"
ASX_csv = "Files/ASX SP200.csv"

In [13]:
TSX = pd.read_csv(TSX_csv)
FTSE100 = pd.read_csv(FTSE100_csv)
NASDAQ = pd.read_csv(NASDAQ_csv)
ASX = pd.read_csv(ASX_csv)

          Date      Open      High       Low     Close
0     10/31/22  19406.52  19510.88  19402.06  19426.14
1     10/28/22  19365.10  19471.29  19282.70  19471.19
2     10/27/22  19391.14  19516.36  19316.63  19352.11
3     10/26/22  19097.54  19435.91  19097.54  19279.76
4     10/25/22  18858.99  19099.47  18858.99  19097.01
...        ...       ...       ...       ...       ...
2525  10/05/12  12460.78  12480.83  12388.76  12418.99
2526  10/04/12  12403.13  12458.21  12371.62  12447.68
2527  10/03/12  12406.44  12411.51  12341.90  12359.47
2528  10/02/12  12396.86  12414.42  12340.64  12391.23
2529  10/01/12  12372.45  12452.28  12318.17  12370.19

[2530 rows x 5 columns]